<div id="background-evaseg">
  <div class="row">          
    <div class="col-sm-12" id="column">
        <form >
              <img src="../../assets/images/evaseg-logo1.png" class="logo-login">
              <h1 class="login-title">Recuperar<br>Contraseña</h1>
              <div class="recover-text">
                En breve se enviara un vínculo a su <br> correo para reestablecer su contraseña
              </div>
              <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                  
              </div>
              <button type="submit" class=" btn btn-submit">Enviar</button>
            </form>
      </div>  
  </div>     
</div>

    


