<div id="background-evaseg">
  <div class="row">          
    <div class="col-sm-12" id="column">
        <form >
              <img src="../../assets/images/evaseg-logo1.png" class="logo-login">
              <br>
              <h1 class="login-title">Inciar Sesión</h1>
              <br>
              <div class="mb-3">
                  <label for="exampleInputId" class="form-label"> Número de documento</label>
                  <input type="numberId" class="form-control" id="exampleInputId" aria-describedby="IdHelp">                  
              </div>
              <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-login">Ingresar</button>
              <br>
              <div class="password">
                  <button class="recover" (click)="GoToRecover()">
                      ¿Olvidaste tu contraseña?
                  </button>
              </div>
        </form>
      </div>  
  </div>     
</div>