<div>
    <div class="row">
        <div class="col-sm-3" id="column1" >
            <img src="../../assets/images/evaseg-logo21.png" class="logo-menu">
            <br>
            <button type="submit" class="btn btn" (click)="GoToInicio()">
                <i class="bi bi-house"></i> Inicio
            </button>
            <button type="submit" class="btn btn" id="icono" >
                <i class="bi bi-exclamation-circle"></i> Llamado de antención
            </button>
            <button type="submit" class="btn btn" id="icono" (click)="GoToReportar()">
                <i class="bi bi-flag"></i> Reportar aprendiz
            </button>
            <button type="submit" class="btn btn" id="icono">
                <i class="bi bi-search"></i> Consultar historial
            </button>
            
            <div class="profile">
            <i class="bi bi-person-circle"></i> 
            <samp class="instructor"></samp>Instructor
            </div>
