<div class="container-fluid">
  <div class="row">
    <div class="col-md-1" id="column1">
    </div>
    <div class="col-md-10" id="column2">
      <img src="../../assets/images/evaseg-logo21.png" class="home-logo">
      <div class="title-welcome">
        <h1>Bienvenido Instructor</h1>
      </div>
    </div>
    <div class="col-md-1" id="column1">
    </div>
  </div>

      <div class="row">
        <div class="col-md-3">
          <div class="card" (click)="GoToLLamado()">
            <div class="card-body">
              <h2 class="card-title">Llamado de atención</h2>
              <i class="bi bi-exclamation-circle"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3" (click)="GoToReportar()">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Reportar aprendiz</h2>
              <i class="bi bi-flag"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3" (click)="GoToHistorial()">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Consultar historial</h2>
              <i class="bi bi-search"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3" (click)="GoToPerfil()">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Perfil instructor</h2>
              <i class="bi bi-person-circle"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1" id="column3">
    </div>
  
</div>
